@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-black text-2xl leading-9;
    }

    a {
        @apply border-b-2 border-orange hover:text-orange;
    }

    @font-face {
        font-family: 'Noto Serif';
        src: local('Noto Serif'), local('NotoSerif'),
        url('/fonts/noto/NotoSerif.woff2') format('woff2'),
        url('/fonts/noto/NotoSerif.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    h1, h2 {
        @apply text-blue-100 dark:text-blue-500
    }

    h1 {
        @apply font-serif font-bold text-6xl mb-3;
    }

    h2 {
        @apply text-3xl my-4;
    }
}